.footer {
    margin-top: 50px;
}

.featurette {
    margin-top: 50px;
    margin-bottom: 50px;
}

.page-content {
    margin-left: 50px;
    margin-right: 50px;
}   

.featurette-image {
    border-radius: 10px;
}

/* .navbar {
    background-color: gray !important;
    color: white !important;
} */

.jumbotron {
    margin-top: 50px;
    background-color: #ee5053;
    color: black;
}